body {
  font-family: Sans-Serif;
}
text {
  fill: #222; stroke: none;
}

.land {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

.states {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  stroke-linejoin: round;
}
